body, html{
    color: white;
}
body, html, input {
    font-family: Product Sans, Segoe UI, Loma, Arial, sans-serif;
}
input:focus{
    outline: none;
}
::-webkit-scrollbar{
    display:none !important;
}

.tag-list{
    width:30%;
    height: 90%;
    border-radius: 20px;
    position: fixed;
    top: 5%;
    background: #fff;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 40;
    color:#111;
    transition: .3s ease;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    border-left: 20px solid yellow;
}
.tag-list.unhide{
    left: 3%;
}
.tag-list.hide{
    left: -35%;
}
.tag-list-tag{
    width:calc(100% - 30px);
    height:15px;
    padding:15px;
    transition: .2s ease;
    cursor:pointer;
    border-left: 0px solid yellow;
}
.tag-list-tag:hover{
    background:#ddd;
    border-left: 5px solid yellow;
}

.view{
    width:calc(100% - 20px);
    height: 100%;
    padding:10px;
    position: fixed;
    top: 0;
    right: 0;
    background: #222;
    overflow: scroll;
    overflow-x: hidden;
}
.view-header{
    width:calc(100% - 40px);
    height:30px;
    font-size: 30px;
    background:#161618;
    padding:20px;
    position: fixed;
    top:0;right:0;
    text-align: center;
    margin: 0;
    z-index: 20;
    box-shadow: 0px 0px 20px #000;
}
.header-icon{
    height: 30px;
    float: right;
}
.view-inner{
    width:100%;
    height:calc(100% - 90px);
    position: absolute;
    bottom:0;left:0;
    z-index: 10;
}
.view-image{
    box-sizing: border-box;
    border:3px solid #161618;
    border-bottom-width: 30px;
    border-radius: 15px;
    width:32%;
    margin-left: 1%;
    display: inline-block;
}

.search-bar{
    width:calc(90% - 20px);
    margin-left: 5%;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221);
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 15px;
}