@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html{
    color: white;
}
body, html, input {
    font-family:  Poppins, Segoe UI, Loma, Arial, sans-serif;
    font-size: 15px;
}
input:focus{
    outline: none;
}
::-webkit-scrollbar{
    display:none !important;
}

.tag-list{
    width:15em;
    height: 90%;
    border-radius: 20px;
    position: fixed;
    top: 5%;
    background: #fff;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 40;
    color:#111;
    box-shadow: 0px 0px 20px rgba(0,0,0,.5);
    border-left: 20px solid yellow;
}
.tag-list.unhide{
    left: 3%;
    transition: .2s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.tag-list.hide{
    left: -17em;
    transition: .2s cubic-bezier(0.4, 0.0, 1, 1);
}
.tag-list-tag{
    width:calc(100% - 30px);
    height:20px;
    padding:10px;
    transition: .2s ease;
    cursor:pointer;
    border-left: 0px solid yellow;
}
.tag-list-tag:hover{
    background:#ddd;
    border-left: 5px solid yellow;
}

.full-view{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.view{
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    padding:10px;
    position: fixed;
    top: 0;
    right: 0;
    background: #111;
    overflow: scroll;
    overflow-x: hidden;
}
.view-header{
    width:calc(100% - 40px);
    height:30px;
    font-size: 30px;
    background:#161618;
    padding:20px;
    position: fixed;
    top:0;right:0;
    text-align: center;
    margin: 0;
    z-index: 20;
    box-shadow: 0px 0px 30px #000;
}
.header-icon{
    height: 30px;
    float: right;
}
.view-inner{
    width:100%;
    height:calc(100% - 90px);
    position: absolute;
    bottom:0;left:0;
    z-index: 10;
}
.view-image{
    box-sizing: border-box;
    border:3px solid #000;
    border-top-width: 30px;
    padding-top:-15px;
    background: black;
    border-radius: 15px;
    height:15em;
    width:32%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: inline-block;
    transition: .2s ease;
    background-size: cover !important;
    text-align: center;
}
.view-image-text{
    border:none; 
    background:none;
    margin-top: -30px;
    font-size: 20px;
    opacity: 0;
    transition: .2s ease;
    text-align: center;
    background: rgba(0,0,0,.5);
    position: relative;
    height:calc(100% + 30px);
    width:100%;
}
.view-image:hover > .view-image-text{
    opacity: 1;
}
.text-icon{
    float:left;
    transition: .1s ease;
    cursor: pointer;
}
.text-icon.mdi-star-outline, .text-icon.mdi-star{
    float:right;
    transition: .1s ease;
    cursor: pointer;
}
.text-icon.mdi-star-outline:hover, .text-icon.mdi-star:hover{
    color:yellow;
}
.text-icon:hover, .full-icon:hover{
    color:#2684ff;
}
.full-icon{
    height: 40px;
    width: 40px;

    font-size:40px;
    transition: .1s ease;
    cursor: pointer;
    margin:auto;top:0;left:0;bottom:0;right:0;
    position: absolute;
}

.search-bar{
    width:calc(90% - 20px);
    margin-left: 5%;
    border-radius: 15px;
    background: #f3f3f3;
    border:none;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 15px;
    position: sticky;
    top:10px;
}